#toolbar-bar #tenon-report-summary-count {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold !important;
  line-height: 1;
  margin: -5px 2px -5px 9px;
  min-width: 10px;
  padding: 3px 5px 4px !important;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

#toolbar-bar #tenon-report-summary-count.no-issue {
  background-color: yellowgreen;
}

#toolbar-bar #tenon-report-summary-count.has-issue {
  background-color: red;
}

div.hopscotch-bubble.tenon-notifications .hopscotch-bubble-content {
  margin: 0;
}

div.hopscotch-bubble.tenon-notifications .hopscotch-bubble-number {
  display: none;
}

.tenon-notifications-readmore {
  margin-bottom: -3.5em;
  margin-top: 1em;
}
